<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title | escape }}</title>
    <link rel="stylesheet" type="text/css" media="screen,tv,projection" href="/style.css">{% if page.longpage %}
    <style type="text/css">
    #content {
        margin: 50px;
        width: auto;
        min-height: 100%;
    }
    </style>{% endif %}
</head>

<body>
    <table id="bigtable" style="border: none;">
        <tbody><tr><td style="text-align: center; vertical-align: {% if page.longpage %}top{% else %}middle{% endif %};">
        <div id="content">
            <div class="topleftnav"><a href="/">Home</a></div>

{{ content }}

        </div>
        <!--[if IE]>
        <div style="text-align: center;"><a href="http://www.mozilla.com/firefox/features/">A Better Browser</a></div>
        <![endif]-->
        <div><br><br></div>
    </td></tr></tbody>
    </table>
</body>
</html>
