<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" media="screen,tv,projection" href="/style.css">
</head>

<body>
    <table style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;">
    <tbody><tr><td style="text-align: center; vertical-align: middle;">
        <div id="content">
            <h2 class="topleftnav"><a href="/">Home</a></h2>

{{ content }}

        </div>
        <!--[if IE]>
        <div style="text-align: center;"><a href="http://www.mozilla.com/firefox/features/">A Better Browser</a></div>
        <![endif]-->
        <div><br><br></div>
    </td></tr></tbody>
    </table>

</body>
</html>